html,
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FFFFFF;
  color: #383E42; /* Gris foncé pour un bon contraste sur fond blanc */
}

.Presentation {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: center;
  padding-top: 100px;
  background-color: #ffff; /* Gris clair */
  border-top: solid 1px #e0e0e0; /* Gris foncé */
}

.bio {
  width: 60%;
  justify-items: space-around;
}

.intro,
.propos {
  padding: 10px;
}

.profil {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.brand {
  border-radius: 50%;
  border: 2px solid #383E42; /* Gris foncé */
}

.icone {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.liens {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.liens li {
  margin: 10px;
}

.realisations {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  justify-content: center;
  padding: 10px;
  background-color: #f9f9f9; /* Blanc */
  
  /** #f0e1ff; */
}

.icon {
  width: 25%;
}

.projet {
  width: 30%;
  height: 40vh;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px #E0E0E0; /* Gris clair */
}

.material-symbols-outlined {
  font-size: 20px !important;
}

#skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  justify-content: center;
  text-align: center;
  background-color: #fffff; /* Gris clair */
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.techno,
.outils {
  width: 100%;
  opacity: 0.9;
  align-items: center;
}

.tech {
  width: 40%;
  margin: 10px;
  height: 20vh;
  box-shadow: 2px 2px 2px -1px #383E42; /* Gris foncé */
}

.iconeTech {
  width: 30%;
  height: 30%;
  margin: auto;
}

.contact {
  width: 100%;
  height: auto;
background-image: linear-gradient(to bottom, #ffff, #383E42); /* Dégradé du gris clair au gris foncé */
}

.btn {
  background-color: #383E42; /* Gris foncé pour les boutons */
  color: #FFFFFF; /* Blanc pour le texte des boutons */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #E0E0E0; /* Gris clair pour les boutons au survol */
  color: #383E42; /* Gris foncé pour le texte des boutons au survol */
}
